.role-container {
  .action {
    i {
      padding-top: 7px;
      margin-right: 12px;
      font-size: 22px;
      cursor: pointer;
    }
    .add {
      color: rgb(13, 209, 39);
      &:hover {
        color: rgb(205, 241, 60);
      }
    }
    .trash {
      color: rgba(255, 64, 0, 0.934);
      &:hover {
        color: rgb(248, 10, 58);
      }
    }
  }
  .table-role {
    .edit {
      color: rgb(239, 178, 64);
      font-size: 18px;
      padding-right: 10px;
      cursor: pointer;
      :hover {
        color: rgb(119, 255, 0);
      }
    }
    .delete {
      color: rgb(241, 63, 63);
      font-size: 18px;
      padding-left: 10px;
      cursor: pointer;
      :hover {
        color: rgb(22, 198, 242);
      }
    }
  }
}
